@using EventTicket.Entities;
@model User;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="ChangeAvatar" tabindex="-1" aria-labelledby="inviteTeamModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="inviteTeamModalLabel">Thay đổi ảnh đại diện</h5>
				<button type="button" class="close-model-btn" data-bs-dismiss="modal" aria-label="Close"><i class="uil uil-multiply"></i></button>
			</div>
			<div class="modal-body">
				<div class="model-content main-form">
					<form id="ssk-change-avatar" action="account/UpdateAccountAvatar" method="post" enctype="multipart/form-data">
						<input type="hidden" name="Id" value="@Model?.Id" />
						<div class="row">
							<div class="col-lg-12 col-md-12 text-center mt-3">
								<input type="hidden" id="_wpnonce" name="_wpnonce" value="7fa3314f0b" />
								<input type="hidden" name="Id" value="@Model?.Id" />
								<p id="ssk-success" style="display:none"></p>
								<img src="@Model?.Avatar" class="custom_avatar" width="130" height="130">
								<div class="form-group text-center mt-4 mb-4">
									<input name="Avatar" type="file" id="upload_avatar" accept="image/png, image/jpg, image/jpeg" required>
									<small class="d-block mt-2">Kích thước ảnh phù hợp: 130px X 130 px</small>
								</div>
								<button id="change-avatar-btn" class="main-btn min-width btn-hover h_40" type="submit">Xác nhận</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="co-main-btn min-width btn-hover h_40" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<div class="profile-banner">
	<div class="hero-cover-block">
		<div class="hero-cover">
			<div class="hero-cover-img"></div>
		</div>
	</div>
	<div class="user-dt-block">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-5 col-md-12">
					<div class="main-card user-left-dt">
						<div class="user-avatar-img">
							<img src="@Model?.Avatar" class="custom_avatar" alt="" width="130" height="130">
							<div class="ssk-avatar-img-btn">
								<label data-bs-toggle="modal" data-bs-target="#ChangeAvatar" for="avatar-img"><i class="fa-solid fa-camera"></i></label>
							</div>
						</div>
						<div class="user-dts">
							<h4 class="user-name">
								@Model?.Name
							</h4>
							@{
								var role = "Thành viên";
								if (Model?.Role == 0)
									role = "Quản trị viên";
							}
							<span class="user-email"><span class="badge bg-success text-capitalize">@role</span></span>
						</div>
						<div class="ff-block">
							<a href="#" class="" role="button" data-bs-toggle="modal" data-bs-target="#FFModal"><span>0</span>Follower</a>
							<a href="#" class="" role="button" data-bs-toggle="modal" data-bs-target="#FFModal"><span>0</span>Đang theo dõi</a>
						</div>
						<div class="profile-social-link">
							<h6>Find me on</h6>
							<div class="social-links">
								<a href="#" class="social-link" target="_blank" rel="nofollow" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fab fa-facebook-square"></i></a>
								<a href="#" class="social-link" target="_blank" rel="nofollow" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
								<a href="#" class="social-link" target="_blank" rel="nofollow" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><i class="fab fa-youtube"></i></a>
								<a href="#" class="social-link" target="_blank" rel="nofollow" data-bs-toggle="tooltip" data-bs-placement="top" title="Website"><i class="fa-solid fa-globe"></i></a>
							</div>
						</div>
						<hr>
					</div>
				</div>

				<div class="col-xl-8 col-lg-7 col-md-12">
					<div class="right-profile">

						<div class="profile-tabs">
							<ul class="nav nav-pills nav-fill p-2 garren-line-tab" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="events-tab" data-bs-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="true"><i class="fa-solid fa-house"></i>Các sự kiện của tôi</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false"><i class="fa-solid fa-circle-info"></i>Thông tin tài khoản</a>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade active show" id="events" role="tabpanel" aria-labelledby="events-tab">
									<div class="nav my-event-tabs mt-4" role="tablist">
										<button class="event-link active" data-bs-toggle="tab" data-bs-target="#saved" type="button" role="tab" aria-controls="saved" aria-selected="true">
											<span class="event-count">0</span>
											<span>Sự kiện đã đăng ký</span>
										</button>
										@{/*<button class="event-link" data-bs-toggle="tab" data-bs-target="#going" type="button" role="tab" aria-controls="going" aria-selected="true">
											<span class="event-count">0</span>
											<span>Sự kiện sẽ tham gia</span>
										</button>*/}
									</div>
									<div class="tab-content">

										<div class="tab-pane fade show active" id="saved" role="tabpanel">
											<div class="row">
												<div class="col-md-12">
													@foreach(var item in Model?.UserTickets)
													{
														var ev = item.Event;
														<div class="main-card mt-4">
															<div class="card-top p-4">
																<div class="card-event-img">
																	<img src="@ev.Image" alt="">
																</div>
																<div class="card-event-dt">
																	<h5>@ev.Name</h5>
																	<div class="evnt-time">
																		<i class="fa-solid fa-calendar-day me-2"></i>
																		<span>
																			@ev.StartDate.ToShortTimeString() - @ev.StartDate.ToShortDateString()
																		</span>
																	</div>
																	<div>
																		<p>Thông tin đăng ký: @item.Name - @item.Email - @item.Phone</p>
																	</div>
																	<div class="event-btn-group">
																		<button class="esv-btn me-2" onclick="window.location.href='/su-kien/@ev.Id'"><i class="fa-solid fa-arrow-up-from-bracket me-2"></i>Xem</button>
																	</div>
																</div>
															</div>
														</div>
													}


												</div>
											</div>
										</div>

										<div class="tab-pane fade" id="going" role="tabpanel">
											<div class="row">
												<div class="col-md-12">
													<p class="text-center">Chưa có sự kiện tại mục này!</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
									<div class="main-card mt-4">
										<div class="bp-title position-relative">
											<h4>Thông tin</h4>
											<button class="main-btn btn-hover ms-auto edit-btn me-3 pe-4 ps-4 h_40" data-bs-toggle="modal" data-bs-target="#aboutModal">
												<i class="fa-regular fa-pen-to-square me-2"></i>Chỉnh sửa
											</button>
										</div>
										<div class="about-details">
											<div class="about-step">
												<h5>Tên người dùng</h5>
												<span>@Model?.Name</span>
											</div>
											<div class="about-step">
												<h5>Trạng thái</h5>
												@{
													var cls = "bg-success";
													var status = "Đang hoạt động";
													if (Model?.Status == false)
													{
														status = "Bị khoá";
														cls = "bg-error";
													}
												}
												<span class="user-email"><span class="badge @cls text-capitalize" style="color: white;">@status</span></span>
											</div>
											<div class="about-step">
												<h5>Địa chỉ</h5>
												@{
													var address = "Đang cập nhật...";
													if (!string.IsNullOrEmpty(Model?.Address))
													{
														address = Model?.Address;
													}

													var phone = "Đang cập nhật...";
													if (!string.IsNullOrEmpty(Model?.Phone))
													{
														phone = Model?.Phone;
													}
												}
												<p class="mb-0"><span class="fst-italic">@address</span></p>
											</div>
											<div class="about-step">
												<h5>Số điện thoại</h5>
												<p class="mb-0">
													<span class="fst-italic">@phone</span>
												</p>
											</div>
											<div class="about-step">
												<h5>Email</h5>
												<p class="mb-0">@Model?.Email</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About Details Model Start-->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="aboutModalLabel">Cập nhật thông tin tài khoản</h5>
				<button type="button" class="close-model-btn" data-bs-dismiss="modal" aria-label="Close"><i class="uil uil-multiply"></i></button>
			</div>
			<form id="userprofile" action="account/UpdateAccountInfo" method="post" enctype="multipart/form-data">
				<input type="hidden" name="Id" value="@Model?.Id" />
				<div class="modal-body">
					<div class="model-content main-form">
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="form-group mt-4">
									<label class="form-label">Họ và tên*</label>
									<input class="form-control h_40" name="name" id="last-name" type="text" placeholder="" value="@Model?.Name" required>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="form-group mt-4">
									<label class="form-label">Email</label>
									<input class="form-control h_40" type="email" name="email" id="email" placeholder="" value="@Model?.Email" disabled="disabled" required>
									<div id="emailHelp" class="form-text">Bạn không thể thay đổi địa chỉ Email.</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="form-group mt-4">
									<label class="form-label">Số điện thoại*</label>
									<input class="form-control h_40" type="tel" id="dbem-phone" name="phone" placeholder="" value="@Model?.Phone">
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="form-group mt-4">
									<label class="form-label">Địa chỉ*</label>
									<input class="form-control h_40" type="text" id="dbem-address" name="address" placeholder="" value="@Model?.Address">
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<h4 class="address-title">Đổi mật khẩu</h4>
							</div>
							<div class="col-lg-12 col-md-12 d-flex justify-content-center">
								<div class="form-group w-75 mt-4">
									<label class="form-label">Mật khẩu mới</label>
									<div class="loc-group position-relative">
										<input class="form-control h_40" type="password" name="password" id="pass1" placeholder="" value="" autocomplete="off" required>
										<span class="pass-show-eye1"><i class="fas fa-eye-slash"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="co-main-btn min-width btn-hover h_40" data-bs-target="#aboutModal" data-bs-toggle="modal" data-bs-dismiss="modal">Đóng</button>
					<button type="submit" name="submit-userprofile-button" id="submit-userprofile-button" class="main-btn min-width btn-hover h_40 g-recaptcha">Cập nhật</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Follow People Model Start-->
<div class="modal fade" id="FFModal" tabindex="-1" aria-labelledby="FFModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="FFModalLabel">Following & Followers</h5>
				<button type="button" class="close-model-btn" data-bs-dismiss="modal" aria-label="Close"><i class="uil uil-multiply"></i></button>
			</div>
			<div class="modal-body">
				<div class="model-content follow-people-content">
					<div class="">
						<ul class="nav nav-pills ff-tablist mb-2" role="tablist">
							<li class="nav-item d-flex me-4">
								<a class="nav-link px-0 pt-0 pb-3 active" id="pills-following-tab" data-bs-toggle="pill" href="#following" role="tab" aria-controls="following" aria-selected="true">Đang theo dõi <span class="following_count">( 0 )</span></a>
							</li>
							<li class="nav-item d-flex">
								<a class="nav-link px-0 pt-0 pb-3" id="pills-followers-tab" data-bs-toggle="pill" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers  <span class="following_count">( 0 )</span></a>
							</li>
						</ul>
						<div class="tab-content mt-4">
							<div class="tab-pane fade active show" id="following" role="tabpanel" aria-labelledby="pills-following-tab">
								<div class="d-flex align-items-center justify-content-center flex-column min-height-430">
									<img src="https://sansukien.com/wp-content/themes/SanSuKien/assets/images/following.png">
									<p class="font-16 mt-4 text-light3">No following yet</p>
								</div>
							</div>
							<div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="pills-followers-tab">
								<div id="followers-empty-state" class="d-flex align-items-center justify-content-center flex-column min-height-430">
									<span>
										<svg width="60" height="47" viewBox="0 0 60 47" fill="none">
											<path d="M41.8884 39.501C41.2649 38.8161 41.1572 37.7618 41.9808 37.0461L48.8852 30.1433C50.44 28.5811 52.8108 30.9436 51.2559 32.4981L47.1225 36.6306H56.1899C56.467 35.6917 56.644 35.0145 56.644 34.0064C56.644 28.0732 50.5247 24.6256 45.152 24.6256C40.9724 24.6256 36.4387 26.5956 34.5067 30.4819C36.5234 33.0521 37.7088 36.138 37.7088 39.4702C37.7088 41.6788 37.1623 43.8566 36.1693 45.8267C35.1918 47.7967 32.1976 46.3038 33.1828 44.3337C33.9525 42.8023 34.3528 41.1863 34.3528 39.4702C34.3528 31.4515 26.1321 26.7188 18.8505 26.7188C11.5767 26.7188 3.36369 31.4515 3.36369 39.4702C3.36369 41.2017 3.74856 42.7793 4.52598 44.326C5.51892 46.2961 2.5247 47.7967 1.53945 45.8344C0.546504 43.8643 0 41.6711 0 39.4702C0 32.3749 5.23412 26.8573 11.6228 24.5948C7.8127 22.1322 5.49583 17.9151 5.49583 13.3594C5.49583 5.98709 11.4843 0 18.8505 0C26.2322 0 32.2207 5.98709 32.2207 13.3594C32.2207 17.9228 29.8961 22.1322 26.086 24.5948C28.3412 25.3874 30.3656 26.5495 32.0744 27.9808C33.6369 25.4798 36.0616 23.6098 38.7787 22.5016C36.1001 20.4854 34.5221 17.3533 34.5221 13.9904C34.5221 8.11875 39.2867 3.35524 45.152 3.35524C51.0327 3.35524 55.7896 8.11105 55.7896 13.9904C55.7896 17.3533 54.2117 20.4931 51.5253 22.5016C56.2668 24.4332 60 28.6811 60 34.0064C60 34.8683 59.8922 35.7379 59.6921 36.5921C59.492 37.4386 59.1841 38.262 58.7838 39.0623C58.4913 39.6472 57.9063 39.9858 57.2906 39.9858L47.1302 39.9935L51.2559 44.1183C52.8185 45.6805 50.4477 48.0507 48.8852 46.4885L41.8884 39.501ZM18.8505 3.36293C13.3239 3.36293 8.85183 7.83401 8.85183 13.3594C8.85183 18.9001 13.3085 23.3481 18.8505 23.3481C24.3926 23.3481 28.857 18.9001 28.857 13.3594C28.857 7.84171 24.3772 3.36293 18.8505 3.36293ZM45.152 6.71047C41.1418 6.71047 37.8781 9.97336 37.8781 13.9904C37.8781 18.0152 41.1341 21.255 45.1597 21.255C49.1931 21.255 52.4336 18.0228 52.4336 13.9904C52.4336 9.97336 49.1777 6.71047 45.152 6.71047Z" fill="#6ac045"></path>
										</svg>
									</span>
									<p class="font-16 mt-4 text-light3">No followers yet</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
