@using EventTicket.Entities;
@model List<User>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Danh sách người dùng";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người udngf</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered display nowrap" id="dataTable" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ảnh</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>Quyền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        var temp = user.Status;
                        <tr>
                            <td>@user.Id</td>
                            <td><img src="@user.Avatar" alt="Avatar" width="100" height="100" /></td>
                            <td>@user.Name</td>
                            <td>@user.Address</td>
                            <td>@user.Phone</td>
                            <td>@user.Email</td>
                            <td class="">@(temp ? "Hiển thị" : "Ẩn")</td>
                            @{
                                var role = "";
                                if(user.Role == 0)
                                {
                                    role = "Admin";
                                }
                                else if(user.Role == 1)
                                {
                                    role = "Khách hàng";
                                }
                            }
                            <td>@role</td>
                            <td>
                                <a href="/admin/users/toggle/@user.Id" class="btn btn-success">Đổi trạng thái</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
